html {
    font-family: Helvetica, sans-serif;
}

header {
    border-bottom: 1px solid grey;
}

h1 {
    margin-right: 20px;
    display: inline-block;
}

nav {
    display: inline-block;
}

li {
    display: inline-block;
    margin: 0px 20px;
}

a{
    color: green;
    text-decoration: none;
}